version: 1.2.0.{build}

configuration:
 - Release

platform:
 - Win32
 - x64

image:
 - Visual Studio 2022

build:
 project: vs2010.sln
 verbosity: minimal
 parallel: true

before_build :
 - cmd: '"C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\devenv.exe" /upgrade vs2010.sln'
 - cmd: '"C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\devenv.exe" /upgrade vs2010.vcxproj'