/**
 * @file version.rc
 * @author Daniel Starke
 * @date 2021-01-30
 * @version 2021-01-30
 * 
 * DISCLAIMER
 * This file has no copyright assigned and is placed in the Public Domain.
 * All contributions are also assumed to be in the Public Domain.
 * Other contributions are not permitted.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
 * OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
 * ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 */

#include "version.h"

1 VERSIONINFO
	FILEVERSION PROGRAM_VERSION
	PRODUCTVERSION PROGRAM_VERSION
	FILEFLAGSMASK 0x3fL
#ifdef DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
	FILEOS 0x40004L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "Daniel Starke"
			VALUE "FileDescription", "Snapmaker 2.0 PrusaSlicer Post-Processor"
			VALUE "FileVersion", PROGRAM_VERSION_STR
			VALUE "InternalName", "sm2pspp"
			VALUE "LegalCopyright", "Copyright (C) 2021"
			VALUE "OriginalFilename", "sm2pspp.exe"
			VALUE "ProductName", "Snapmaker 2.0 PrusaSlicer Post-Processor"
			VALUE "ProductVersion", PROGRAM_VERSION_STR
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
